<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/styles/coingame.css"/>
</head>
<body>
    <h1>Welcome to Coin Game!</h1>
    <h2>Round:</h2>
    <div class="row">
        <div class="column">
            <h3>Player 1</h3>
            <form th:action="@{/coingame}" method="GET">
                <h3>P1 Coins</h3>
                <hr>
                <section class="input">
                    <label for="p1coins">How many coins would you like to bet?</label>
                    <input type="number" name="p1coins" id="p1coins" min="1" max="3">
                    <button>Go!</button>
                </section>
                <hr>
            </form>
        </div>
        <div class="column">
            <h3>Results:</h3>
        </div>
        <div class="column">
            <h3>Player 2</h3>
            <h3>P2 Coins</h3>
            <hr>
            <h4>Player 2 will be betting</h4>
            <span th:text="${p2spend}"></span>
            <h4> coins</h4>
            <hr>
        </div>
    </div>
</body>
</html>

