<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <title>FRQ3 Result</title></div>
</head>
<body><div layout:fragment="content" th:remove="tag">
<div align="center">
    <h2>FRQ3 Result</h2>
    <span>Is person 1 attending?</span><span th:text="${data.rsvp1}"></span><br/>
    <span>Is person 2 attending?</span><span th:text="${data.rsvp2}"></span><br/>
    <span>Person 1 Selection: </span><span th:text="${data.selection1}"></span><br/>
    <span>Person 2 Selection: </span><span th:text="${data.selection2}"></span><br/>
    <span>Result: </span><span th:text="${result}"></span><br/>
</div></div>
</body>
</html>