<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <link th:href="@{/styles/lists.css}" rel="stylesheet" />
    <title>Games</title>
    </div>
</head>
<body><div layout:fragment="content" th:remove="tag">
    <div class="wrapper">
        <h2 id="games"><strong>Our Top 10 Games!</strong></h2>
        <div class="cards">

            <figure class="card">
                <img th:src="@{/images/RDD2.jpg}" class="card-img"/>
                <figcaption>Red Dead Redemption 2</figcaption>
            </figure>

            <figure class="card">
                <img th:src="@{/images/Doom.jpg}" class="card-img"/>
                <figcaption>Doom Eternal</figcaption>
            </figure>

            <figure class="card">
                <img th:src="@{/images/COD-ColdWar.jpg}" class="card-img"/>
                <figcaption>Call of Duty Black Ops: Cold War</figcaption>
            </figure>

            <figure class="card">
                <img th:src="@{/images/AC-Valhalla.jpeg}" class="card-img"/>
                <figcaption>Assassins Creed: Valhalla</figcaption>
            </figure>

            <figure class="card">
                <img th:src="@{/images/Battlefront2.jpg}" class="card-img"/>
                <figcaption>Battlefront 2</figcaption>
            </figure>

            <figure class="card">
                <img th:src="@{/images/MortalKombat11.jpg}" class="card-img"/>
                <figcaption>Mortal Kombat 11</figcaption>
            </figure>

            <figure class="card">
                <img th:src="@{/images/Breath.jpg}" class="card-img"/>
                <figcaption>The Legend of Zelda: Breath of the Wild</figcaption>
            </figure>

            <figure class="card">
                <img th:src="@{/images/Smash.jpg}" class="card-img"/>
                <figcaption>Super Smash Bros: Ultimate</figcaption>
            </figure>

            <figure class="card">
                <img th:src="@{/images/Mario.jpg}" class="card-img"/>
                <figcaption>Super Mario Odyssey</figcaption>
            </figure>

            <figure class="card">
                <img th:src="@{/images/jumanji.jpg}" class="card-img"/>
                <figcaption>Jumanji: The Video Game</figcaption>
            </figure>

        </div>








</div></body>
</html>